<h3>Productes</h3>
<div class="card-group">
  <div class="card" id="card1">
    <img class="card-img-top" href="#" src="../assets/image/p1.jpg" alt="Card image cap" height="300" width="150">
    <img class="card-img-top" href="#" src="../assets/image/p14.jpeg" alt="Card image cap" height="300" width="150">
    <img class="card-img-top" href="#" src="../assets/image/p15.jpeg" alt="Card image cap" height="300" width="150">
    <img class="card-img-top" href="#"src="../assets/image/p17.jpeg" alt="Card image cap" height="300" width="150">
    <img class="card-img-top" href="#" src="../assets/image/p16.jpeg" alt="Card image cap" height="300" width="150">
    <img class="card-img-top" href="#" src="../assets/image/p18.jpeg" alt="Card image cap" height="300" width="150">
    <div class="card-block">
      <h4 class="card-title">Mobile offers</h4>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../assets/image/p2.jpg" alt="Card image cap" height="300" width="150">
    <img class="card-img-top" src="../assets/image/C123.jpeg" alt="Card image cap" height="300" width="150">
    <img class="card-img-top" src="../assets/image/c122.jpeg" alt="Card image cap" height="300" width="150">
    <img class="card-img-top" src="../assets/image/s1.jpeg" alt="Card image cap" height="300" width="150">
      <img class="card-img-top" src="../assets/image/pe1.jpeg" alt="Card image cap" height="300" width="150">
        <img class="card-img-top" src="../assets/image/t1.jpeg" alt="Card image cap" height="300" width="150">

    <div class="card-block">
      <h4 class="card-title">Clothes</h4>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../assets/image/c5.jpeg" alt="Card image cap"height="300" width="200">
    <img class="card-img-top" src="../assets/image/c1.jpeg" alt="Card image cap"height="300" width="200">
    <img class="card-img-top" src="../assets/image/c2.jpeg" alt="Card image cap"height="300" width="200">
    <img class="card-img-top" src="../assets/image/c3.jpeg" alt="Card image cap"height="300" width="200">
        <img class="card-img-top" src="../assets/image/c4.jpeg" alt="Card image cap"height="300" width="200">
    <div class="card-block">
      <h4 class="card-title">Computers</h4>
    </div>
  </div>
</div>
